@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exchanges,
.exchanges_container {
  @include flex;
  flex-direction: column;
}
.exchanges_container {
  padding-top: 5rem;
}

.container {
  max-width: 90%;
  padding-bottom: 9rem;
  padding-top: 5rem;
}

.exchange_details {
  @include flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}

.exchange_brand {
  @include flex;
}

.exchange_name,
.icon {
  color: gold;
  font-size: 1.5rem;
  margin-left: 10px;
}

.description_container {
  @include flex;
  flex-direction: column;
 background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
}

#show_description {
  height: 100%;
  transition: all 0.3s;
}

.logo_container {
  width: 100%;
  @include flex;
  justify-content: flex-start;
  margin: 1rem 0;
  img {
    height: 100px;
    width: 100px;
  }

  h3 {
    font-size: 2rem;
    color: gold;
  }
}

.description {
  color: white;
  margin: 1rem;
}

.more_details {
  margin: 1rem;
  p {
    color: white;
    margin-top: 0.5rem;
  }
  .icon {
    color: goldenrod;
    margin: 0;
    font-size: 1.5em;
    margin-top: 2rem;
  }
}
.trade_vol_container {
  margin-top: 1.5rem;
  h3 {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0.3rem;
    color: goldenrod;
  }
}

.address_container {
  @include flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  a {
    color: gold;
    transition: all 0.3s;
    &:hover {
      color: goldenrod;
    }
  }
}

.btn_container {
  margin-top: 2rem;
  button {
    color: black;
    background: goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    margin: 10px;
    transition: all 0.3s;
    text-transform: capitalize;
    box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.2);
    &:hover {
      background: gold;
      box-shadow: 10px 15px 20px 2px rgb(0,0,0,0.3);
    }
  }
}