@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  @include flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  max-width: 90%;
  padding-bottom: 9rem;
  padding-top: 5rem;
}

.hero_content {
  max-width: 30rem;
  @include flex;
  flex-direction: column;
}

.hero_heading {
  font-size: 3em;
  text-align: left;
  font-weight: 900;
}

.hero_subheading {
  margin-top: 1.5rem;
  text-align: left;
}

.hero_stats {
  @include flex;
  flex-direction: column;
}
