@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  @include flex;
  flex-direction: column;
  width: 100vw;
  background: linear-gradient(120deg, #0c0132 45%, #8812ac);
}

.container {
  max-width: 90%;
  padding-bottom: 9rem;
  padding-top: 5rem;
}

.hero_content {
  max-width: 30rem;
  @include flex;
  flex-direction: column;
}

.hero_heading {
  color: white;
  font-size: 3em;
  text-align: left;
  font-weight: 900;
}

.hero_subheading {
  color: gold;
  margin-top: 1.5rem;
  text-align: left;
}

.hero_stats {
  @include flex;
  flex-direction: column;
  margin-top: 5rem;
}

.coin {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  @include flex;
  // align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  //box-shadow: 3px 3px 15px 2px rgb(255,255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  transition: all 0.3s;
}

.coin_detail {
  @include flex;
  justify-content: space-between;
}

.coin_name {
  color: white;
  font-size: 1.6em;
  margin-left: 1rem;
}

.coin_price {
  font-size: 1.3em;
  color: gold;
}
