@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  @include flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  z-index: 10000;
}

.container {
  @include flex;
  flex-direction: column;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 10px rgba(31, 38, 135, 0.7);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon,
.loading_msg {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.icon {
  transformt: scale(0.5);
  color: gold;
  animation: rotate 1s infinite alternate;
  margin-bottom: 0.5rem;
}

.loading_msg {
  color: goldenrod;
  margin-top: 2rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) scale(2.5);
  }
}
