@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav,
.show_menu {
  @include flex;
  background: #000;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(150vw);
  margin-top: 3rem;
  transition: all 0.4s;
  border-radius: 100%;
}

.show_menu {
  transform: translateX(0);
  height: 100vh;
  width: 100%;
  border-radius: 0;
}

.menu_item {
  list-style: none;
  font-size: 1.2rem;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: gold;
  }
}
