@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news,
.container,
.news_container,
.news_card {
  @include flex;
  flex-direction: column;
}

.news {
  width: 100vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  //  background: #232323;
  padding-top: 4rem;
}

.container {
  max-width: 90%;
  padding-top: 3rem;
}

.news_container {
  // min-height: 100%;
  width: 100vw;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 2rem;
  padding: 3rem;
}

.news_card {
  @include flex;
  position: relative;
  left: 20px;
  //  margin-left: -1rem;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-width: 300px;
  min-height: 400px;
  border-radius: 20px;
  box-shadow: -84px 9px 83px -32px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -84px 9px 83px -32px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -84px 9px 83px -32px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  padding: 1rem;
  &:hover {
    transform: translateX(-1rem) translateY(-1rem);
    z-index: 0;
  }
  * + * {
    margin-top: 2rem;
  }
}

.news_img {
  width: 100%;
  @include flex;
  justify-content: flex-start;
  img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 1rem;
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

.news_content {
  text-align: center;
  //  padding: 0 8px;
  color: white;
  margin-top: 3rem;
}

.news_title {
  text-align: left;
  color: gold;
}

.news_body {
  text-align: left;
  span {
    color: gold;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
}

.source {
  margin-top: 0;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.container {
  -webkit-scrollbar {
    width: 200px;
  }
}
