@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news,
.container,
.news_container,
.news_card {
  @include flex;
  flex-direction: column;
}

.news {
  width: 100vw;
  background: #232323;
  padding-top: 4rem;

}

.news_container {
  min-height: 100vh;
  // min-height: 100%;
  width: 100vw;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 2rem ;
}

.news_card {
  position: relative;
  left: 0;
  margin-left: -1.5rem;
  transition: all 0.3s;
  background: #1b1b1b;
  min-width: 300px;
  height: 620px;
  box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: -84px 9px 83px -32px rgba(0,0,0,0.6);
  -webkit-box-shadow: -84px 9px 83px -32px rgba(0,0,0,0.6);
  -moz-box-shadow: -84px 9px 83px -32px rgba(0,0,0,0.6);
  transition: all 0.3s;
  img {
    max-width: 100%;
    background:#0a0511;
    border-radius: 20px;
    object-fit: cover ;
  }
  &:hover {
    transform: translateX(-1rem) translateY(-1rem);
    z-index: 0;
  }
}

.news_img {
  height: 250px;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.news_content {
  text-align: center;
  padding: 0 8px;
  color: white ;
  margin-top: 280px;
}

.news_title {
  color: gold;
}

.news_body {
  text-align: left;
  padding: 1rem;
  span {
    color: gold;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
}